{% extends "pupils/base.html" %}

{% load static from staticfiles %}

{% block meta_title %} - Відвідування{% endblock meta_title %}

{% block title %}База Відвідувань{% endblock title %}

{% block content %}

    <div class="col-xs-12">
        <!-- Add Student Button -->
            <center>
                <h5>&larr; Жовтень 2014 &rarr;</h5>
            </center>
        <div>
            <!-- Start Students Listing Visiting-->
            <table class="table table-hover table-striped">
                <thead>
                <tr>
                    <th><a href="">No</a></th>
                    <th>Студент</th>
                    <th>Cр 1</th>
                    <th>Чт 2</th>
                    <th>Пт 3</th>
                    <th>Cб 4</th>
                    <th>Нд 5</th>
                    <th>Пн 6</th>
                    <th>Вт 7</th>
                    <th>Cр 8</th>
                    <th>Чт 9</th>
                    <th>Пт 10</th>
                    <th>Cб 11</th>
                    <th>Нд 12</th>
                    <th>Пн 13</th>
                    <th>Вт 14</th>
                    <th>Cр 15</th>
                    <th>Чт 16</th>
                    <th>Пт 17</th>
                    <th>Cб 18</th>
                    <th>Нд 19</th>
                    <th>Пн 20</th>
                    <th>Вт 21</th>
                    <th>Cр 22</th>
                    <th>Чт 23</th>
                    <th>Пт 24</th>
                    <th>Cб 25</th>
                    <th>Нд 26</th>
                    <th>Пн 27</th>
                    <th>Вт 28</th>
                    <th>Cр 29</th>
                    <th>Чт 30</th>
                    <th>Пт 31</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a title="Редагувати" href="#">Корост Андрій</a></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked="checked"></td>

                </tbody>
            </table>
{% endblock content %}